# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Admin\Documents\Looking for Job\Carol\SAIT\Back to OOSD\PROJ-207-B-Threaded Project for OOSD\Work Shop 7 - JSP Servlets\WorkShop7_v2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
